*{
 margin: 0;
 padding: 0;
}
#contenedor{
 margin: 10px auto;
 width: 540px;
 height: 115px;
}
.reloj{
 float: left;
 font-size: 80px;
 font-family: Courier,sans-serif;
 color: #black;
}
.boton{
 outline: none;
 border: 0px solid #363431;
 color: white;
 width: 128px;
 height: 30px;
 font-size: 20px;
 border-radius: 5px;
 font-family: Helvetica;
 cursor: pointer;
}
.boton:active{
 box-shadow: 0px 0px 14px green;
 color: green;
}
.boton:hover{
 box-shadow: 0px 0px 14px orange;
 color: orange;
}